@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);

.page,
e .page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #232c3d;
}

.page {
    position: relative;
    width: 30cm;
    max-width: 30cm;
    min-height: 29.7cm;
    padding: 50px;
    background-color: white;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 6%), 0 1px 0px 0 rgb(0 0 0 / 2%);
    z-index: 1;
    border-radius: 0.375rem;
    margin: 0 auto;
}

.invoice_modal_body .page {
    width: unset;
    max-width: unset;
}

.invoice-watermark {
    max-width: 80%;
    margin: 0 auto;
}

.invoice-watermark img {
    width: 100%;
    opacity: 0.3;
}

@media print {
    .main-sidebar {
        display: none;
    }

    @page {
        size: A4;
    }

    .container-fluid,
    .page {
        width: 100%;
        max-width: 100%;
        min-height: auto;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .page {
        padding: 10px 20px !important;
    }

    .page,
    .page * {
        color: black;
    }

    footer,
    nav {
        display: none !important;
    }

    .layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
        padding-top: 0 !important;
    }

    .container-p-y:not([class^="pt-"]):not([class*=" pt-"]) {
        padding-top: 0 !important;
    }
}

.page .title {
    letter-spacing: 0.1px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
}

.page .subtitle {
    letter-spacing: 0.1px;
    font-size: 13px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
}

.page .property {
    font-size: 13px;
    color: black;
}

.page .property .key {
    font-weight: bold;
    margin-right: 2px;
    font-size: 13px;
    color: black;
}

.page .table-bordered thead td,
.page .table-bordered thead th {
    border-left: none;
    border-right: none;
    font-size: 13px;
}

.page .table-bordered td,
.page .table-bordered th {
    border-left: none;
    border-right: none;
    font-size: 13px;
    vertical-align: middle !important;
}

.page .summary-table {
    float: right;
    margin-bottom: 10px !important;
}

.page .summary-table td,
.page .summary-table th {
    border-top: none !important;
    border-bottom: none !important;
    font-size: 13px;
}

.page .payment-details {
    clear: both;
}

.page table.table-bordered {
    border-top: 2px solid #000;
    border-bottom: none !important;
    margin-bottom: 10px !important;
}

.page .border-transparent {
    border: 1px solid transparent;
}

.print-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
}

.page .billing-badge {
    border: 2px solid #29c329;
    width: 97px;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.page .signature {
    font-weight: bold;
    letter-spacing: 0.1px;
    border-top: 1px dashed #000;
    font-size: 13px;
}

.page .remark {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.invoice-summary-table tr td {
    padding: 5px 0px !important;
    min-width: 100px;
}

.invoice-summary-table tr td:nth-child(2) {
    text-align: right;
}