:root {
    --pos-footer-height: 70px;
    --pos-left-side-filter-height: 36px;
    --pos-left-side-filter-margin: 8px;
    --pos-right-side-filter-height: 55px;
    --pos-right-side-summary-height: 96px;
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 970px;
    }
}

#product-picture {
    height: 60px;
    width: 60px;
    margin: auto;
}

#loder-gif {
    margin: auto;
    height: 60px;
}

#table-scroller {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.bg-gray {
    color: #000;
    background-color: #d2d6de !important;
    border-radius: 3px;
}

.btn-increment {
    display: inline-block;
    padding: 5px 0px;
    background: #00a65a;
    width: 18px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.btn-decrement {
    display: inline-block;
    padding: 5px 0px;
    background: #e91e63;
    width: 18px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.input-quantity {
    border: 0px;
    width: 65px;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.cart-info.quantity {
    width: 104px;
    border: #ccc 1px solid;
    margin: auto;
}

.ui-menu-item-wrapper {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.ui-state-active {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.td-style {
    padding: 4px 0px !important;
    margin: 0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input.datepicker {
    padding-left: 10px;
}

.pos-footer {
    position: fixed;
    color: #fff;
    left: 0;
    bottom: 0;
    background: rgb(96, 92, 168);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pos-footer .lg-btns {
    margin-left: auto;
}

.pos-footer .back-btn {
    height: var(--pos-footer-height);
    border-radius: 0px !important;
    background: #ffc107;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    padding-bottom: 15px;
}

.pos-footer .cancel-btn {
    height: var(--pos-footer-height);
    color: #fff;
    border-radius: 0px !important;
    background: #e6381a;
    font-size: 24px;
    font-weight: 900;
}

.pos-footer .payment-btn {
    height: var(--pos-footer-height);
    border-radius: 0px !important;
    background: #47c363;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

.pos-footer .hold-btn {
    height: var(--pos-footer-height);
    border-radius: 0px !important;
    background: #03c3ec !important;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

.pos-footer .hold-list-btn {
    height: var(--pos-footer-height);
    min-width: 54px;
    border-radius: 0px !important;
    background: #ffc107 !important;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

.pos-footer button,
.pos-footer a {
    height: 50px !important;
}

.pos-footer .final-text {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.pos-left-side {
    background: none !important;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    height: calc(100vh - var(--pos-footer-height));
    margin-bottom: 0;
}

.pos-left-side .filters {
    height: var(--pos-left-side-filter-height);
    margin: 8px 0 8px 5px;
}

.pos-left-side .product-list-container {
    height: calc(100vh - var(--pos-footer-height) - var(--pos-left-side-filter-height) - 2 * var(--pos-left-side-filter-margin));
    overflow-y: auto;
    padding-left: 8px;
}

.pos-left-side .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
    padding: 8px;
    min-height: calc(100vh + 20px);
    align-items: start;
    align-content: start;
}

.pos-left-side .product-list .card {
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 530px) {
    .pos-left-side .product-list {
        grid-template-columns: 1fr 1fr;
    }
}

.pos-right-side {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.pos-right-side .filters {
    height: var(--pos-right-side-filter-height);
}

.pos-right-side .summary-table {
    width: calc(100% + 40px);
    margin-left: -20px;
}

.pos-right-side .product-table-container {
    height: calc(100vh - var(--pos-right-side-filter-height) - var(--pos-right-side-summary-height) - var(--pos-footer-height) - 90px);
    overflow-y: auto;
}

@media screen and (max-width: 767px) {
    .pos-right-side .filters {
        height: auto;
    }

    .row.filters .select2 {
        width: 100% !important;
    }
}

.payment-btn:disabled {
    color: #c8c8c8 !important;
    opacity: 1 !important;
}

.font-size-1-rem {
    font-size: 1rem !important;
}

.customPopup {
    display: none;
    position: fixed;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100000;
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 285px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 5px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input {
    font-size: 14px;
    color: #243E8B7A;
    padding: 5px 0px;
    border-radius: 5px;
}

.pos_sidebar_button button.btn {
    padding: 11px 20px !important;
}

.pos_sidebar_button button.btn svg {
    margin-right: 5px;
}

.product-table {
    position: relative;
}

.product-table .table-responsive {
    height: 385px;
    overflow-y: auto;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}

.product-table .table-responsive::-webkit-scrollbar {
    background: #eee;
    width: 5px;
}

.product-table .table-responsive::-webkit-scrollbar-thumb {
    background: #5f61e6;
}

.product-table .table-responsive table {
    margin-bottom: 0px !important;
    border-left: 0;
}

.pos_pro_table table {
    width: 100%;
}

.pos_pro_list_table thead {
    position: sticky;
    top: -1px;
    z-index: 9;
}

.pos_pro_list_table {
    position: relative;
}

.pos_pro_table table thead tr th {
    text-align: left;
    padding: 10px !important;
}

.pos_pro_table table thead tr th:last-child {
    text-align: center;
}

.pos_pro_table table tbody tr td {
    padding: 10px;
    vertical-align: middle;
}

.pos_pro_table table tbody tr td p {
    margin: 0;
}

.pos_pro_table table tr th,
.pos_pro_table table tr td {
    padding: 7px 7px !important;
}

.pos_pro_table select {
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 4px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-appearance: none;
    padding-right: 35px;
    color: #535c66;
}

.pos_pro_table input {
    padding: 7px;
    border: none;
    /* text-align: center; */
    color: #646e78;
    outline: none;
}

.pos_pro_table .price input {
    width: 80px !important;
    border: 1px solid #ddd;
    padding: 5px 5pxpx;
}

.pos_pro_table .product-table thead {
    background: #696cff !important;
}

.pos-footer {
    background: #696cff !important;
}

.pos_pro_table .summary-table {
    background: #8592a3;
    margin-bottom: 0 !important;
}

.pos_pro_table .summary-table tbody tr {
    border-top: 1px solid #ffffff73;
}

.pos_pro_table .summary-table tbody tr th,
.pos_pro_table .summary-table tbody tr td {
    color: #fff;
    border-right: 1px solid #ffffff73;
}

.pos_product_area {
    height: 470px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.pos_product_area::-webkit-scrollbar {
    background: #eee;
    width: 5px;
    height: 5px;
}

.pos_product_area::-webkit-scrollbar-thumb {
    background: #5f61e6;
    scrollbar-width: thin;
}

.pos-footer button:hover,
.pos-footer .back-btn:hover {
    transform: none;
}

.pos_pro_table .summary-table tbody tr td svg {
    margin-left: 5px;
}

.dis .current {
    color: #000 !important;
}

.summary-table .custom_width {
    width: 270px;
}